*.log
*.tmp
*.lock
*.xml
*_history
.adobe
.aMule
.android
.atom
.audacity-data
.avidemux
.build
.cache
.config/autostart
.config/chromium
.config/clipit
.config/configstore
.config/darktable
.config/dconf
.config/deadbeef
.config/deluge
.config/enki
.config/epdfview
.config/galculator
.config/gconf
.config/gtk-*
.config/htop
.config/inkscape
.config/keepassx
.config/leafpad
.config/LightTable
.config/mc
.config/meld
.config/mupen64plus
.config/openbox
.config/smplayer
.config/spacefm
.config/syncthing*
.config/tint2
.config/viewnior
.config/vlc
.config/volumeicon
.config/mimeapps.list
.config/QtProject.conf
.config/Trolltech.conf
.cr3
.dbus
.dosbox
.dropbox*
.elinks
.fontconfig
.gem
.gimp*
.gnupg
.go
.gstreamer*
.hoh
.icons
.js
.local/share
.logs
.loki
.macromedia
.mozilla
.mplayer
.nano/*
.ncmpcpp
.node*
.noip
.npm
.opera*
.pki
.PlayOnLinux
.pulse*
.scripts
.serious
.Skype
.ssh
.steam*
.subversion
.thumbnails
.thunderbird
.tor-browser*
.vpn
.vvvvvv
.wicd
.wine
.djsd
.gitconfig
.gmrunrc
.gtk*
.SciTE.session
.Xauthority
.xscreensaver
.xsession-errors
archive
Downloads
Dropbox
node_modules
R2D2
Sync
temp
