[core]
    editor = scite
    autocrlf = input

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[color "diff"]
    meta = 12
    frag = 7
    old = 9
    new = 10

[color "status"]
    added = 10
    changed = 12
    untracked = 9
