*.log
*.tmp
*.lock
*_history

.adobe
.aMule
.android
.atom
.audacity-data
.avidemux
.build
.cache
.claws-mail
.config/Atom
.config/autostart
.config/cairo-compmgr
.config/chromium
.config/clipit
.config/configstore
.config/bashrun
.config/darktable
.config/dconf
.config/deadbeef
.config/deluge
.config/enchant
.config/enki
.config/epdfview
.config/galculator
.config/gconf
.config/gtk-*
.config/gpick
.config/htop
.config/inkscape
.config/keepassx
.config/leafpad
.config/libreoffice
.config/LightTable
.config/mc
.config/meld
.config/mupen64plus
.config/mypaint
.config/nomacs
.config/orage
.config/pavucontrol.ini
.config/pulse
.config/Skype
.config/sflphone
.config/smplayer
.config/spacefm
.config/syncthing*
.config/Thunar
.config/tint2
!.config/tint2/tint2rc
.config/TOra
.config/viewnior
.config/vlc
.config/volumeicon
.config/mimeapps.list
.config/qt5ct
.config/QtProject.conf
.config/Trolltech.conf
.config/update-notifier
.config/xfce4
.cr3
.dbus
.dosbox
.dropbox*
.ecryptfs
.elinks
.flashTool
.fontconfig
.gem
.gimp*
.gnupg
.go
.grafx2/gfx2.cfg
.gstreamer*
.hoh
.icons
.js
.local/share
.logs
.loki
.macromedia
.mozilla
.mplayer
.nano/*
.ncmpcpp
.node*
.noip
.npm
.opera*
.pki
.PlayOnLinux
.Private
.pulse*
.scripts
.Skype
.ssh
.steam*
.subversion
.swt
.thumbnails
.thunderbird
.tor-browser*
.vpn
.wicd
.wine

.composer*
.djsd
.gitconfig
.gmrunrc
.gtk*
.ICEauthority
.SciTE.session
.selected_editor
.sfl.pid
.wallpaper.jpg
.Xauthority
.xscreensaver
.xsession-errors*

LICENSE
archive
Downloads
Dropbox
node_modules
R2D2
sip
Sync
temp
Рабочий*
