[core]
    editor = scite
    autocrlf = input

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[color "branch"]
    current = 12
    local = 8
    remote = 15

[color "diff"]
    meta = 8
    frag = 14
    old = 10
    new = 15

[color "status"]
    added = 15
    changed = 13
    untracked = 10
